*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.corde{

    box-sizing: border-box;
    position: absolute;
    width: 896px;
    height: 100vh;
    left: -404px;
    top: -65px;
    border: 1px solid rgba(188, 189, 237, 0.5);
    z-index: -1;

}
.background{

    /*background: #FFFFFF;*/
    box-shadow: 0px 0px 25px rgba(151, 151, 151, 0.2);
    border-radius: 30px;
    margin-top: 152px !important;
}
.width{
    width: 50px;
}

.label{
    left:9px !important;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.sidebar {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 100vh; /* Hauteur pleine de la vue */
    /*width: 250px;  Largeur de la sidebar */
    background-color: #337447;
    color: white;
    /*padding-top: 20px;*/
}

.sidebar a {
    color: white;
    /*padding: 15px;*/
    text-decoration: none;
    /*display: block;*/
}

.sidebar a:hover {
    background-color: #007bff;
}

.main-content {
    /*margin-left: 250px;  Égale à la largeur de la sidebar
    padding: 20px;*/
    overflow-y: auto;
    height: 100vh; /* Hauteur pleine de la vue */
}






.step-number {
    background-color: #4b0082;
    color: white;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.step-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-text {
    max-width: 50%;
}

.step-image {
    max-width: 45%;
}

.step-text h2 {
    color: #ff5a5f;
}

@media (max-width: 768px) {
    .step-content {
        flex-direction: column;
        text-align: center;
    }

    .step-text, .step-image {
        max-width: 100%;
    }
}